.item:has(a.active) {
    width: 232px;
    height: 42px;
    padding: 10px 10px 10px 0;
    background-color: var(--mantine-color-purple-200);
    border-radius: var(--mantine-radius-default);
}

a {
    text-decoration: none;
    color: var(--mantine-color-text);
    padding-left: 10px;
}

a.active {
    font-weight: 700;
    color: var(--mantine-color-purple-500)!important;
}

a:hover {
    color: var(--mantine-color-purple-400);
}